*{
    box-sizing: border-box;
}
tbody{
    background-color: rgb(234, 151, 8);
}
table{
    border-collapse: collapse;
}
thead{
    background-color: aqua;
}
td{
    border:1px solid black;
    padding: 10px 20px;
}