* {
    box-sizing: border-box;
}

body {
    background-color:aquamarine;
    margin: 0;
    padding: 0;
    font-family: "Public Sans", "Arial", "sans-serif";
}

.container {
    width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0);
}

.btn {
    margin: 30px;
    padding: 15px 30px;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    background-color: blueviolet;
}

.btn:hover {
   /* opacity: 0.8;*/
   top: 22px;
    background-color: blueviolet;
}

.btn:active {
   /* opacity: 0.6;*/
   top: 24px;
   background-color: blueviolet;
}

.box {
    display: flex;
    /*flex-direction: column;*/
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    background-color: blue;
    border-radius: 8px;
    padding: 10px;
    height: 500px;
}
.item {
    background-color: rgba(80, 14, 141, 0.967);
    padding: 30px 35px;
    margin: 20px;
    width: 150px;
    height: 150px;
    border-radius: 8px;
}